.blue-bg{
    background-color: #2b5690;
}

.orange-color{
    color: #FF725E !important;
}

.orange-senac{
    color:#f19100 !important;

}

.orange-color-light{
    color: #fff1ef !important
}