:root{
  --font-primary: "Montserrat", sans-serif;
}

.footer-text {
    padding-bottom: 25px;
    position: relative;
    display: inline-block;
    transition: 0.3s;
    border-bottom: 4px solid #f5a59b;
    font-size: 30px;
    font-weight: 700;
    letter-spacing: 1px;
    font-family: var(--font-primary);
  }


  .header-projetos h2:after {
    content: "";
    position: absolute;
    display: block;
    width: 50px;
    height: 3px;
    background: #f5a59b;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
  }
  

  .pagination-horario {
      bottom: -10px !important;
      position: relative !important;
  }

  .section-oficina{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
  }

  .c-container-blue .card:hover{
    background-color: #0061b6;
    color: white;
    margin-top: -20px;
    border-color: #0061b6;
  }

  .c-container-orange .card:hover{
    background-color: #f5a59b;
    color: white;
    margin-top: -20px;
    border-color: #f5a59b;
  }

  .c-container-blue .card:hover .content{
    color: white;
  }

  .c-container-orange .card:hover .content{
    color: #000;
    
  }

.card-oficina {
  background-color: #f5f5f5;
}

.card-oficina-content .card-oficina-title{
  background-color: #356ab1;
  color: #fff;
  padding: 15px;
  height: 100px;
  display: flex;
  align-items: center;
  text-align: center;
}

.card-oficina, .card-oficina-title {
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
}

.card-oficina .card-infos {
  padding: 15px;
}

.card-infos .card-oficina-loc {
  margin-top: 1rem;
}

.card-infos p {
  margin-left: 0.5rem;
}

.services .service-item{
  box-shadow: 2px 4px 25px rgba(0, 0, 0, .15);
}

.team .member{
  box-shadow: 2px 4px 25px rgba(0, 0, 0, .15);
}
.cards-wrapper {
  display: flex;
  justify-content: center;
  gap: 2rem;
}

@media screen and (max-width: 567px) {

  .cards-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}

.bi::before, [class^="bi-"]::before, [class*=" bi-"]::before{
  padding: 15px;
}

.testimonial-item{
  max-height: 430px !important;
}